.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)), 
    url("https://cdn.pixabay.com/photo/2016/04/01/12/20/abstract-1300667_960_720.png");
    background-size: cover;
}

.loginTitle {
    font-size: 70px;
    margin-top: -100px;
    font-family:"Pacifico",serif ;
    color: purple;
}

.loginForm {
    margin-top: 20px;
    display:flex;
    flex-direction: column;

}

.loginForm >label {
    margin: 10px 0;

}

.loginInput {
    padding: 10px;
    background-color: white;
    border: none;

}

.loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: purple;
    border:none;
    color: white;
    border-radius: 5px;
    padding: 10px;

}

.loginButton:disabled{
    cursor: not-allowed;
    background-color: rgb(252,173,173);
}

.loginRegisterButton {
    position: absolute;
    top: 125px;
    right: 45px;
    background-color: orange;
    border: 1px solid purple;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    color: white;
    border-radius: 5px;

}

.loginFooter {
    margin-top: -150px;
    
}