
.contact {
    display: flex;
  
}

.contactWrapper {
    
    width: 1000px;
    margin-left: 275px;
    height: 250px;

    text-align: center;
    justify-content: center;
    flex-direction: column;
    object-fit: cover;
    font-family:"Fredoka One", sans-serif ;
    color: purple;
}

.contactTitle {
 
    text-align: center;
    font-family:"Pacifico",serif ;
    font-size: 36px;
    margin: 10px;
    color: purple;
}

.contactInfo {
    font-size: 20px;
    line-height: 50px;
}

.contactIcon {
    margin-right: 15px;
}