.stories{
    display: flex;
    flex: 9;

}

.storiesLgTitle{
    text-align: center;
    font-family:"Pacifico",serif ;
    font-size: 70px;
    color: purple;
}

.storiesImg {
  width:100%;
  height: 200px;
  object-fit: contain;
  margin-top: 10px;
}

.storiesCard {
  text-align:center;
  margin-left: 50px;
  margin-top: 30px;
  border: 2px solid purple;


}

.storiesTitle{
    text-align: center;
    color: purple;
    font-family: "Fredoka One", sans-serif;
    font-size: 24px;
}




